.container {
    background-color: #c00025;
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 325px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }
.App{
    margin-left: 5%;
}
button {
    width: 60px;
    padding: 25px;
    text-align: center;
    margin: 5px;
    border-radius: 40px;
}
.btns{
    display: flex;
    width: 100%;
}
.spec-btns{
    display: flex;
    justify-content: flex-start;
    width: 40%;
}
.spec-btns button{
    color: white;
    background-color: steelblue;
    font-size: 25px;
    padding: 18px;
    text-align: center;
}
.num-btns{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 60%;
}
.num-btns button{
    color: white;
    background-color: midnightblue;
    font-size: 25px;
    padding: 18px;
    text-align: center;
}
.num-btns :nth-child(10){
    width: 56%;
}
.ops-btns{
    display: flex;
    flex-direction: column;
    height: 60px;
    margin-top: -73px;
}
.ops-btns button{
    color: white;
    background-color: mediumturquoise;
    font-size: 25px;
    padding: 18px;
    text-align: center;
}